name: Run Strava Scripts

on:
  workflow_dispatch:  
  schedule:
    - cron: '0 * * * *'    

jobs:
  run-scripts:
    runs-on: ubuntu-latest

    steps:
      # Checkout do repositório
      - name: Check out do repository
        uses: actions/checkout@v3

      # Configura o Python
      - name: Configurar o Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'  # Define a versão do Python

      # Instala as dependências
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas requests
          pip install python-dotenv

      # Executa o script para buscar e salvar atividades do clube
      - name: Rodar o script para buscar os dados no strava 
        env:
          ENV: production
          ACCESS_TOKEN: ${{ secrets.STRAVA_ACCESS_TOKEN }}
          STRAVA_CLIENT_ID: ${{ secrets.STRAVA_CLIENT_ID }}            
          STRAVA_CLIENT_SECRET: ${{ secrets.STRAVA_CLIENT_SECRET }}            
          STRAVA_REFRESH_TOKEN: ${{ secrets.STRAVA_REFRESH_TOKEN }}            
        run: |
          python app.py

      - name: Data de início da competição
        run: |
          python start_competition.py     


      # Executa o script para gerar pontuação com detalhes
      - name: Rodar o script para calcular o score mais detalhado
        run: |
          python score_details.py

      # Salva os arquivos CSV gerados como artefatos
      - name: Upload CSV artifacts
        uses: actions/upload-artifact@v3
        with:
          name: csv-files
          path: |
            unique_activities.csv
            unique_activities_old.csv
            participant_scores.csv
            participant_scores_with_details.csv
            strava_tokens.csv
      # Adicionar e commitar os arquivos CSV gerados no repositório
      - name: Commit and push CSV files
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add *.csv
          git commit -m "Arquivos atualizados automáticamente pelo github actions"
          git push "https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}    
